<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<title>Vue 入门</title>
<script type="text/javascript" src="/Vue/vue.js"></script>
<!--  -->
</head>
<body>
	<!--挂载点 模板  实例 之间的关系  -->
	<!--挂载点： Vue  el属性Id对应的dom节点-->
	<!--模板：挂载点内部的内容  -->
	<!--实例： new Vue -->
	<!-- {{ }}插值表达式 -->
	<div id="root">
		<h1>hello{{msg}} {{number}}</h1>
		<h1 v-text="number"></h1>
		<div v-text="content"></div><!-- v-text 会转义  -->
		<div v-html="content"></div><!-- v-html 不会转义 -->
	</div>
	<script type="text/javascript">
		new Vue({
			el : "#root",
			/* template:"<h1>hello{{msg}}</h1>", */
			data : {
				msg : " world",
				number : 123,
				content:"<h1>hello</h1>"
				
			}
		})
	</script>
</body>
</html>